#应用
APP_HOST=127.0.0.1
APP_PORT=3000
APP_SSL=false
APP_TIMEZONE=Asia/Shanghai
APP_LOCAL=zh-cn

#Open API
API_TITLE=3R教室
API_DESCRIPTION=3R教室TS全栈开发教程
API_DEFAULT_VERSION=v1

#数据库
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=3r